Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json, eslint --fix

.lintstagedrc:

{
  "*.js": ["npm run lint:fix", "git add"],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

.lintstagedrc.json:

{
  "*.{cjs,cts,js,jsx,mjs,mts,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,yaml,yml}": "prettier --write"
}

docs(readme): document option `trustedTypePolicy`
  README.md
  examples/webpack/src/index.js
Due: npm run lint:fix, prettier --write, eslint --fix

docs(readme): improve grammar
  README.md
Due: prettier --write

docs(readme): update faq
  README.md
Due: prettier --write

docs(readme): tidy README.md
  README.md
Due: prettier --write

docs(readme): remove replit
  README.md
Due: prettier --write

ci(github): install with ignore scripts in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): delete .github/workflows/assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

fix: normalize exported DOM element class
  __tests__/index.test.tsx
  src/dom-to-react.ts
Due: eslint --fix

build(package): save @arethetypeswrong/cli and pin fflate to 0.8.2
  package-lock.json
  package.json
Due: prettier --write

chore(eslint): replace deprecated function
  eslint.config.mts
Due: eslint --fix

build(package): remove @eslint/compat
  package-lock.json
  package.json
Due: prettier --write

chore(package): add "lint:types" script for @arethetypeswrong/cli
  .github/workflows/lint.yml
  .husky/pre-commit
  package.json
Due: prettier --write

build(package-lock): fix 2 moderate severity vulnerabilities
  package-lock.json
Due: prettier --write

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

ci(github): add UMD page test to workflow test.yml
  .github/workflows/test.yml
Due: prettier --write

style(attributes-to-props): fix prettier lint
  src/attributes-to-props.ts
Due: eslint --fix

ci(github): add UMD page test to workflow test.yml (#2308)
  .github/workflows/test.yml
  src/attributes-to-props.ts
Due: prettier --write, eslint --fix

docs: improve README
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix: bump html-dom-parser@8.0.2 so require does not throw ERR_REQUIRE_ESM_RACE_CONDITION
  package-lock.json
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

fix: bump html-dom-parser@8.0.2 so require does not throw ERR_REQUIRE_ESM_RACE_CONDITION (#2369)
  package-lock.json
  package.json
  src/types.ts
Due: prettier --write, eslint --fix

fix: restore instanceof Text and Comment in replace callback
  __tests__/index.test.tsx
  src/dom-to-react.ts
Due: eslint --fix

fix: restore instanceof Text and Comment in replace callback (#2406)
  __tests__/index.test.tsx
  src/dom-to-react.ts
Due: eslint --fix

build(package): remove unused globals and tidy eslint config
  eslint.config.mts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

test(dom-to-react): ignore no-unsafe-enum-assignment lint errors
  __tests__/dom-to-react/index.test.tsx
Due: eslint --fix

ci(github): tidy step name in workflow lint.yml
  .github/workflows/lint.yml
Due: prettier --write
