Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

docs(readme): improve wording, update code blocks, fix broken link
  README.md
Due: prettier --write

build(package): update dependency `style-to-object` to 0.2.3
  package.json
Due: prettier --write

chore(release): 0.8.0
  CHANGELOG.md
  package.json
Due: prettier --write

revert: feat(dom-to-react): skip and do not parse <script> content
  lib/dom-to-react.js
  test/dom-to-react.js
  test/helpers/data.json
  test/html-to-react.js
Due: npm run lint:fix, prettier --write

test(html-to-react): update variable name to fix test
  test/html-to-react.js
Due: npm run lint:fix

docs(readme): add info on dtslint & how to view coverage in browser
  README.md
Due: prettier --write

chore(attributes-to-props): destructure `camelCase` from `utilities`
  lib/attributes-to-props.js
Due: npm run lint:fix

chore(package): run lint & tests before publish, shorten description
  package.json
Due: prettier --write

chore(release): 0.8.1
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(attributes-to-props): rename variables so they're semantic
  lib/attributes-to-props.js
Due: npm run lint:fix

feat(attributes-to-props): replace `react-dom` with `react-property`
  lib/attributes-to-props.js
  lib/property-config.js
  package.json
  test/attributes-to-props.js
Due: npm run lint:fix, prettier --write

test(attributes-to-props): improve test names
  test/attributes-to-props.js
Due: npm run lint:fix

feat(attributes-to-props): check for overloaded boolean values
  lib/attributes-to-props.js
  test/attributes-to-props.js
Due: npm run lint:fix

fix(attributes-to-props): handle attr named after Object properties
  lib/attributes-to-props.js
  test/attributes-to-props.js
Due: npm run lint:fix

refactor(attributes-to-props): update `react-property` to 1.0.0
  lib/attributes-to-props.js
  package.json
Due: npm run lint:fix, prettier --write

build(package): update `react-property` to 1.0.1
  package.json
Due: prettier --write

chore(release): 0.9.0
  CHANGELOG.md
  package.json
Due: prettier --write

build: replace `webpack` with `rollup` in order to optimize bundle
  package.json
  rollup.config.js
  webpack.config.js
Due: npm run lint:fix, prettier --write

build(index): fix rollup error of mixing named and default exports
  index.js
Due: npm run lint:fix

docs(index): improve JSDoc in `index.d.ts` and `index.js`
  index.d.ts
  index.js
Due: npm run lint:fix

docs(readme): replace `react-dom-core` link with `react-property`
  README.md
Due: prettier --write

chore(release): 0.9.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore(package): update `lint` to ignore `/examples/` directory
  package.json
Due: prettier --write

chore(examples): simplify and tidy `script-tag.html`
  examples/script-tag.html
Due: prettier --write

chore(examples): rename `script-tag.html` to `script.html`
  examples/script.html
Due: prettier --write

chore(examples): tidy and simplify `requirejs.html`
  examples/requirejs.html
Due: prettier --write

chore(examples): rename `requirejs.html` to `amd.html`
  examples/amd.html
Due: prettier --write

chore(examples): add example app bootstrapped by Create React App
  examples/app/.env
  examples/app/README.md
  examples/app/package.json
  examples/app/public/index.html
  examples/app/src/App.css
  examples/app/src/App.js
  examples/app/src/index.js
Due: npm run lint:fix, prettier --write

chore(github): create `FUNDING.yml`
  .github/FUNDING.yml
Due: prettier --write

remove node with null
  lib/dom-to-react.js
Due: npm run lint:fix

feat(parser): add parser node replace feature
  lib/dom-to-react.js
  lib/utilities.js
Due: npm run lint:fix

feat(test): complete test for new feature
  test/dom-to-react.js
  test/utilities.js
Due: npm run lint:fix

feat(doc): complete documentation for feature
  README.md
Due: prettier --write

fix(test): change {} to []
  test/dom-to-react.js
Due: npm run lint:fix

chore(github): update FUNDING.yml with tidelift & custom teespring
  .github/FUNDING.yml
Due: prettier --write

chore(github): tidy comment in `ISSUE_TEMPLATE.md`
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

docs(readme): add Support section with links to funding platforms
  README.md
Due: prettier --write

chore(github): tidy comments in `PULL_REQUEST_TEMPLATE.md`
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Added call to donate after npm install (optional)
  package.json
Due: prettier --write

Added financial contributors to the README
  README.md
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
