Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json, eslint --fix

.lintstagedrc:

{
  "*.js": ["npm run lint:fix", "git add"],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

docs(readme): improve wording
  README.md
Due: prettier --write

fix(esm): fix ESM types by adding .mts declaration files
  esm/attributes-to-props.d.mts
  esm/dom-to-react.d.mts
  esm/index.d.mts
  esm/index.mjs
  esm/utilities.d.mts
  esm/utilities.mjs
  package.json
Due: prettier --write

chore(commitlintrc): change "footer-max-line-length" to warn
  .commitlintrc.json
Due: prettier --write

fix(esm): make ESM exports explicit in index.mjs and utilities.mjs
  esm/index.mjs
  esm/utilities.mjs
Due: none

ci(github): rename workflow `release.yml` to `release-please.yml`
  .github/workflows/release-please.yml
Due: prettier --write

docs(github): update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

feat(dom-to-react): pass index as 2nd argument to `replace` option
  README.md
  __tests__/dom-to-react.test.tsx
  src/dom-to-react.ts
  src/types.ts
Due: prettier --write, eslint --fix

docs(readme): add issue link to note
  README.md
Due: prettier --write

ci(github): create workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): fix workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): refactor workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

chore(package): add url to "author" field
  package.json
Due: prettier --write

ci(github): add CODECOV_TOKEN to workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

refactor: improved dom-to-react, type
  src/dom-to-react.ts
  src/types.ts
Due: eslint --fix

ci(github): continue on error in assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

test(jest): set reporters to github-actions in CI
  jest.config.ts
Due: eslint --fix

build(package): save jest-watch-typeahead to devDependencies
  package-lock.json
  package.json
Due: prettier --write

test(jest): add jest-watch-typeahead to watchPlugins
  jest.config.ts
Due: eslint --fix

build(deps-dev): bump @typescript-eslint/eslint-plugin from 7.0.0 to 7.0.1
  package-lock.json
  package.json
Due: prettier --write

fix(esm): fix exported types
  esm/index.d.mts
  src/index.ts
Due: eslint --fix

fix(types): use `React.JSX` instead of the global `JSX` namespace
  __tests__/dom-to-react.test.tsx
  src/dom-to-react.ts
  src/types.ts
Due: eslint --fix

docs(readme): replace CodeSandbox with StackBlitz
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(husky): migrate to husky 9
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

fix(package): move `@types/react` from devDependencies to dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(esm): fix attributes-to-props and dom-to-react exported types
  esm/attributes-to-props.d.mts
  esm/dom-to-react.d.mts
Due: none

ci(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

build(package): fix 3 high severity vulnerabilities
  package-lock.json
Due: prettier --write

Fix any type
  esm/index.d.mts
Due: none

Return ts-expect-error
  esm/index.d.mts
Due: none

Fix linter issues
  esm/index.d.mts
Due: none

fix(esm): fix any type (#1317)
  esm/index.d.mts
Due: none

fix(package): set dependency `@types/react` to 17 or 18
  package-lock.json
  package.json
Due: prettier --write

chore(husky): don't make commit-msg and pre-commit executable
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci(github): tidy workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(package): make @types/react an optional peerDependency
  package-lock.json
  package.json
Due: prettier --write

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(github): tidy dependabot.yml
  .github/dependabot.yml
Due: prettier --write

docs(readme): replace CodeSandbox with Stackblitz
  README.md
Due: prettier --write

docs(github): replace CodeSandbox with Stackblitz in bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write
