Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

docs(readme): improve headings and update "Table of Contents"
  README.md
Due: prettier --write

docs(readme): add CodeSandbox (TypeScript) to list of "Examples"
  README.md
Due: prettier --write

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): fix instructions for `Element` type check in TS
  README.md
Due: prettier --write

fix: escape tags inside of `<title>` (html-dom-parser@1.0.0)
  package.json
Due: prettier --write

refactor(index): prune unnecessary option for `htmlparser2`
  index.js
Due: npm run lint:fix

docs(readme): update htmlparser2 section and remove `decodeEntities`
  README.md
Due: prettier --write

test: add snapshot to verify tags inside of `<title>` are escaped
  test/__snapshots__/index.test.js.snap
  test/data/html.js
  test/index.test.js
Due: npm run lint:fix

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): note that IE9 is no longer supported in migration v1
  README.md
Due: prettier --write

docs(readme): tidy CodeSandbox links
  README.md
Due: prettier --write

ci(github): add `dependabot.yml`
  .github/dependabot.yml
Due: prettier --write

docs(readme): add Discord badge and remove Open Collective badge
  README.md
Due: prettier --write

docs(security): add SECURITY.md
  SECURITY.md
Due: prettier --write

docs(readme): tidy example links
  README.md
Due: prettier --write

docs(readme): update FAQ with how to use `trim` with `replace`
  README.md
Due: prettier --write

docs(readme): update table of contents with FAQ addition
  README.md
Due: prettier --write

docs(readme): update heading and link for `replace`
  README.md
Due: prettier --write

docs(readme): fix code block for domhandler Element node
  README.md
Due: prettier --write

docs(readme): replace Discord invite link
  README.md
Due: prettier --write

fix(index): include domhandler `Node` in `DOMNode` type
  index.d.ts
  test/types/index.tsx
  test/types/lib/dom-to-react.tsx
Due: none

chore(release): 1.1.2
  CHANGELOG.md
  package.json
Due: prettier --write

ci(github): add optional fields to `dependabot.yml`
  .github/dependabot.yml
Due: prettier --write

feat(package): add es module entry point
  index.mjs
  package.json
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(package): add missing file
  package.json
Due: prettier --write

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): tidy with prettier
  CHANGELOG.md
Due: prettier --write

test(integration): add tests for UMD bundle
  package.json
  test/integration/index.test.js
Due: npm run lint:fix, prettier --write

ci(github): run `test:integration` instead of `build`
  .github/workflows/build.yml
Due: prettier --write

build(package): enable `--failAfterWarnings` to rollup build script
  package.json
Due: prettier --write

chore(examples): upgrade devDependencies of example app
  examples/app/package.json
Due: prettier --write

chore(examples): add webpack example
  examples/webpack/index.html
  examples/webpack/package.json
  examples/webpack/src/index.js
Due: npm run lint:fix, prettier --write

fix(index): export without const in `index.mjs`
  index.mjs
Due: none

chore(release): 1.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): run CHANGELOG.md through prettier
  CHANGELOG.md
Due: prettier --write

chore(examples): rename `app` to `create-react-app`
  examples/create-react-app/.env
  examples/create-react-app/README.md
  examples/create-react-app/package.json
  examples/create-react-app/public/index.html
  examples/create-react-app/src/App.css
  examples/create-react-app/src/App.js
  examples/create-react-app/src/index.js
Due: npm run lint:fix, prettier --write

chore(examples): add Next.js app
  examples/next/.gitignore
  examples/next/package.json
  examples/next/pages/index.js
Due: npm run lint:fix, prettier --write

fix(index): make sure to export the named exports
  index.mjs
Due: none

chore(release): 1.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
