Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

chore(release): 0.12.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat(dom-to-react): add option `trim` that skips whitespace nodes
  lib/dom-to-react.js
Due: npm run lint:fix

test(html-to-react): add tests for `trim` option enabled & disabled
  test/html-to-react.js
Due: npm run lint:fix

feat(index): type `trim` in HTMLReactParserOptions
  index.d.ts
Due: none

test(types): add dtslint tests for `trim` option
  test/types/index.test.tsx
  test/types/lib/dom-to-react.test.tsx
Due: none

docs(readme): document `trim` option under Options and FAQ
  README.md
Due: prettier --write

docs(dom-to-react): tidy comments and update JSDoc
  lib/dom-to-react.js
Due: npm run lint:fix

refactor(dom-to-react): replace if conditional with switch case
  lib/dom-to-react.js
Due: npm run lint:fix

docs(readme): update FAQ with how to preserve case of tags (#62)
  README.md
Due: prettier --write

build(package): upgrade standard-version to 6
  package.json
Due: prettier --write

docs(changelog): run `CHANGELOG.md` through prettier, fix links
  CHANGELOG.md
Due: prettier --write

docs(changelog): make headings consistent and fix links
  CHANGELOG.md
Due: prettier --write

build(package): downgrade `standard-version` back to 5
  package.json
Due: prettier --write

chore(release): 0.13.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(changelog): tidy CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore(github): add types to `PULL_REQUEST_TEMPLATE.md` checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

test: migrate from `mocha` to `jest`
  .eslintrc.json
  .huskyrc.json
  .travis.yml
  package.json
  test/attributes-to-props.test.js
  test/dom-to-react.test.js
  test/html-to-react.test.js
  test/types/index.tsx
  test/types/lib/dom-to-react.tsx
  test/utilities.test.js
  tsconfig.json
Due: npm run lint:fix, prettier --write

test(dom-to-react): refactor react tests to snapshot tests
  test/__snapshots__/dom-to-react.test.js.snap
  test/dom-to-react.test.js
Due: npm run lint:fix

test(dom-to-react): refactor to use `expect` instead of `assert`
  test/dom-to-react.test.js
Due: npm run lint:fix

test(attributes-to-props): refactor to `expect` instead of `assert`
  test/attributes-to-props.test.js
Due: npm run lint:fix

test(html-to-react): refactor to `expect` instead of `assert`
  test/html-to-react.test.js
Due: npm run lint:fix

test(utilities): refactor to `expect` instead of `assert`
  test/utilities.test.js
Due: npm run lint:fix

test(helpers): refactor `data.json` to `data.js`
  test/helpers/data.js
  test/helpers/data.json
Due: npm run lint:fix, prettier --write

test(helpers): refactor `render` method
  test/helpers/index.js
Due: npm run lint:fix

test(html-to-react): refactor `forEach` to `it.each`
  test/html-to-react.test.js
Due: npm run lint:fix

test(utilities): refactor `forEach` to `it.each` and add more cases
  test/utilities.test.js
Due: npm run lint:fix

chore(package): add script `test:ci`; update husky, travis, publish
  .huskyrc.json
  .travis.yml
  package.json
Due: prettier --write

chore(examples): add `index.html` that parses in realtime
  examples/index.html
Due: prettier --write

export attributesToProps
  index.js
Due: npm run lint:fix

feat: export attributesToProps
  index.d.ts
  index.js
  lib/attributes-to-props.d.ts
  test/helpers/data.js
  test/html-to-react.test.js
Due: npm run lint:fix

feat: update readme
  README.md
Due: prettier --write

chore(release): 0.14.0
  CHANGELOG.md
  package.json
Due: prettier --write

test(html-to-react): verify `attributesToProps` is on module exports
  test/html-to-react.test.js
Due: npm run lint:fix

docs(readme): update section on htmlparser2 options
  README.md
Due: prettier --write

build(rollup): replace rollup plugin uglify with terser
  package.json
  rollup.config.js
Due: npm run lint:fix, prettier --write

build(package): add react v17 to peerDependencies
  package.json
Due: prettier --write

docs(changelog): tidy 0.14.0
  CHANGELOG.md
Due: prettier --write

chore(release): 0.14.1
  CHANGELOG.md
  package.json
Due: prettier --write

test(attributes-to-props): refactor existing CSS to JS tests
  test/__snapshots__/attributes-to-props.test.js.snap
  test/attributes-to-props.test.js
Due: npm run lint:fix

refactor: replace `cssToJs` with `style-to-js` & remove `camelCase`
  lib/attributes-to-props.js
  lib/utilities.js
  package.json
  test/utilities.test.js
Due: npm run lint:fix, prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
