Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

ci(github): rename ISSUE_TEMPLATE.md to bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

ci(github): fix bug_report.md and add missing front matter
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

ci(github): add ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

ci(github): add ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

docs(github): update CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

docs(github): remove CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

fix(attributes-to-props): don't convert value of option tag
  lib/attributes-to-props.d.ts
  lib/attributes-to-props.js
  lib/dom-to-react.js
  test/attributes-to-props.test.js
  yarn.lock
Due: npm run lint:fix

fix(attributes-to-props): fix issues with tests
  lib/attributes-to-props.d.ts
  lib/attributes-to-props.js
  test/attributes-to-props.test.js
Due: npm run lint:fix

fix(attributes-to-props): increase size limit
  .size-limit.json
Due: prettier --write

fix(attributes-to-props): improve jsdoc documentation
  lib/attributes-to-props.js
Due: npm run lint:fix

fix(attributes-to-props): remove lock file
  yarn.lock
Due: none

fix(attributes-to-props): fix type issues
  lib/attributes-to-props.d.ts
  lib/attributes-to-props.js
Due: npm run lint:fix

fix(attributes-to-props): don't convert value of option tag (#790)
  .size-limit.json
  lib/attributes-to-props.d.ts
  lib/attributes-to-props.js
  lib/dom-to-react.js
  test/attributes-to-props.test.js
Due: npm run lint:fix, prettier --write

build(package): bump style-to-js from 1.1.2 to 1.1.3
  package.json
Due: prettier --write

build(package): bump html-dom-parser from 3.1.2 to 3.1.3
  package.json
Due: prettier --write

fix(package): include types in exports to support TypeScript ESM node16
  package.json
Due: prettier --write

ci(github): add assignees to ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

ci(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs(readme): improve warning
  README.md
Due: prettier --write

docs(github): move SECURITY.md to .github directory
  .github/SECURITY.md
Due: prettier --write

chore(size-limit): bump limit from 10.553 KB to 10.593 KB
  .size-limit.json
Due: prettier --write

ci(github): add workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

ci(github): remove workflow codeql.yml
  .github/workflows/codeql.yml
Due: prettier --write

docs(github): tidy ISSUE_TEMPLATE bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

ci(github): fix workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

ci(github): improve workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

chore(examples): update dependencies and best practices
  examples/amd/requirejs.html
  examples/create-react-app-typescript/package.json
  examples/create-react-app-typescript/src/App.tsx
  examples/create-react-app-typescript/src/index.tsx
  examples/create-react-app/package.json
  examples/create-react-app/src/App.js
  examples/create-react-app/src/index.js
  examples/next/next-env.d.ts
  examples/next/package.json
  examples/next/pages/index.tsx
  examples/next/tsconfig.json
  examples/script/index.html
  examples/script/repl.html
  examples/webpack/package.json
  examples/webpack/src/index.js
Due: npm run lint:fix, prettier --write

fix(index): fix exports for UMD build (CDN script)
  index.js
Due: npm run lint:fix

fix: upgrade html-dom-parser@3.1.4 to fix template parsing
  package.json
Due: prettier --write

test: parse template
  test/data/html.js
  test/index.test.js
Due: npm run lint:fix

fix(attributes-to-props): don't convert non-uncontrolled component props
  lib/attributes-to-props.js
  test/attributes-to-props.test.js
  test/data/html.js
  test/index.test.js
Due: npm run lint:fix

ci(size-limit): increase size limit from 10.59 kB to 10.6 kB
  .size-limit.json
Due: prettier --write

docs(github): add CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

docs(github): delete CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Due: prettier --write

fix(package): bump html-dom-parser@3.1.5 to fix formatDOM error
  package.json
Due: prettier --write

docs(readme): replace shields badges with badgen
  README.md
Due: prettier --write

fix: bump html-dom-parser to 3.1.6 to fix feGaussianBlur misspelling
  package.json
Due: prettier --write

fix(types): fix "Type error: ',' expected." in index.d.ts
  index.d.ts
  lib/attributes-to-props.d.ts
  lib/dom-to-react.d.ts
  tslint.json
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): delete auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
