Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

docs(index): tidy JSDoc comments in index.js
  index.js
Due: npm run lint:fix

style(lib): upgrade prettier and fix lint
  .prettierrc
  .prettierrc.json
  lib/attributes-to-props.js
  lib/utilities.js
  package.json
Due: npm run lint:fix, prettier --write, prettier --write --parser json

test(html-to-react): tidy and organize tests in html-to-react.js
  test/html-to-react.js
Due: npm run lint:fix

chore(husky): upgrade dependency and run `lint:dts` in pre-commit
  .huskyrc
  .huskyrc.json
  package.json
Due: prettier --write, prettier --write --parser json

chore(lintstaged): upgrade dependency and update .lintstagedrc.json
  .lintstagedrc
  .lintstagedrc.json
  package.json
Due: prettier --write, prettier --write --parser json

chore(eslint): upgrade dependency, add rules no-debugger + no-console
  .eslintrc.json
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(rollup): upgrade rollup, consolidate config, remove cross-env
  package.json
  rollup.config.js
Due: npm run lint:fix, prettier --write

build(package): add missing peerDependency `typescript`
  package.json
Due: prettier --write

chore(release): 0.10.5
  CHANGELOG.md
  package.json
Due: prettier --write

build(package): downgrade standard-version@6
  package.json
Due: prettier --write

build(package): update rollup plugins in devDependencies
  package.json
  rollup.config.js
Due: npm run lint:fix, prettier --write

feat(package): upgrade html-dom-parser@0.3.0
  package.json
Due: prettier --write

docs(readme): update FAQ with section on invalid HTML
  README.md
Due: prettier --write

chore(github): add GitHub Sponsors username to FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

docs(readme): update Support with GitHub Sponsors link
  README.md
Due: prettier --write

chore(release): 0.11.0
  CHANGELOG.md
  package.json
Due: prettier --write

build(package): save @typescript-eslint/parser to devDependencies
  package.json
Due: prettier --write

chore(eslint): set parser to @typescript-eslint/parser
  .eslintrc.json
Due: prettier --write

perf(index): return empty array if first argument is empty string
  index.js
Due: npm run lint:fix

test(html-to-react): add case that empty string returns empty array
  test/html-to-react.js
Due: npm run lint:fix

test: tidy descriptions for describe and it blocks
  test/attributes-to-props.js
  test/dom-to-react.js
  test/html-to-react.js
Due: npm run lint:fix

test(types): fix dtslint tests for index.test.tsx
  test/types/index.test.tsx
Due: none

test(types): add error and more expect cases to index.test.tsx
  test/types/index.test.tsx
Due: none

chore(index): improve types for options.library
  index.d.ts
Due: none

test(types): add tests for updated options.library types
  test/types/index.test.tsx
Due: none

test(types): fix and improve dts tests for dom-to-react.test.tsx
  test/types/lib/dom-to-react.test.tsx
Due: none

docs(index): tidy JSDoc comments for index.d.ts
  index.d.ts
Due: none

docs(lib): improve JSDoc comments for dom-to-react.d.ts
  lib/dom-to-react.d.ts
Due: none

chore(release): 0.11.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(index): tidy JSDoc comments for default export in index.d.ts
  index.d.ts
Due: none

docs(index): tidy and update JSDoc comments for index.js
  index.js
Due: npm run lint:fix

build(package): replace @types/domhandler with @types/htmlparser2
  index.d.ts
  package.json
Due: prettier --write

test(html-to-react): add test for option library
  test/html-to-react.js
Due: npm run lint:fix

feat(index): add options.htmlparser2
  index.js
Due: npm run lint:fix

test(html-to-react): add test for option htmlparser2
  test/html-to-react.js
Due: npm run lint:fix

feat(index): add htmlparser2 type to HTMLReactParserOptions
  index.d.ts
Due: none

test(types): add test that checks type for option htmlparser2
  test/types/index.test.tsx
Due: none

docs(readme): document option `htmlparser2` and any risks
  README.md
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
