Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json, eslint --fix

.lintstagedrc:

{
  "*.js": ["npm run lint:fix", "git add"],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

docs(readme): update StackBlitz
  README.md
Due: prettier --write

docs(github): update StackBlitz in bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

docs(readme): improve wording
  README.md
Due: prettier --write

chore(examples): upgrade nextjs dependencies
  examples/nextjs/package.json
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

ci(github): update release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

docs(readme): fix Discord status badge
  README.md
Due: prettier --write

docs(github): improve grammar in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

build(peer-deps): match allowed peer dependency ranges of react and @types/react (#1462)
  package.json
Due: prettier --write

fix(package): match allowed peer dependency ranges of react and @types/react (#1463)
  package.json
Due: prettier --write

docs(readme): improve grammar
  README.md
Due: prettier --write

ci(github): use node version file in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore: fix eslint errors
  .eslintrc.json
  src/utilities.ts
Due: prettier --write, eslint --fix

ci(github): publish package to npm registry with provenance
  .github/workflows/release-please.yml
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 moderate security vulnerability
  package-lock.json
Due: prettier --write

style: add `eslint-plugin-simple-import-sort`
  __tests__/dom-to-react.test.tsx
  __tests__/esm/index.test.mjs
  __tests__/esm/utilities.test.mjs
  __tests__/helpers/index.ts
  __tests__/utilities.test.ts
  eslint.config.mjs
  esm/index.mjs
  esm/utilities.mjs
  package-lock.json
  package.json
  src/attributes-to-props.ts
  src/dom-to-react.ts
  src/utilities.ts
Due: prettier --write, eslint --fix

chore(package): run script `lint:tsc` in "prepublishOnly"
  package.json
Due: prettier --write

docs(changelog): tidy CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

build(package): save `@types/node` to fix typescript error
  package-lock.json
  package.json
Due: prettier --write

ci(github): update eslint group in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

build(examples): bump next from 14.2.3 to 15.0.2
  examples/nextjs/.npmrc
  examples/nextjs/next-env.d.ts
  examples/nextjs/package.json
  examples/nextjs/tsconfig.json
Due: prettier --write, prettier --write --parser json, eslint --fix

chore(examples): add replace to nextjs
  examples/nextjs/pages/index.tsx
Due: eslint --fix

ci(github): create workflow scorecard.yml
  .github/workflows/scorecard.yml
Due: prettier --write

build(rollup): allow for files to be nested in folders within outDir
  package-lock.json
  package.json
  rollup.config.mjs
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
Due: prettier --write --parser json

chore(package): fix script "test:esm"
  package.json
Due: prettier --write

ci(github): tidy codecov in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

fix: bump up html-dom-parser to handle carriage return
  package.json
Due: prettier --write

build(package): update lockfile and save `ts-node` to devDependencies
  package-lock.json
  package.json
Due: prettier --write

test(index): add snapshot tests for string and html with newlines
  __tests__/__snapshots__/index.test.tsx.snap
  __tests__/index.test.tsx
Due: eslint --fix

test(snapshots): refactor inline snapshots to snapshots
  __tests__/__snapshots__/dom-to-react.test.tsx.snap
  __tests__/__snapshots__/index.test.tsx.snap
  __tests__/attributes-to-props.test.ts
  __tests__/dom-to-react.test.tsx
  __tests__/index.test.tsx
Due: eslint --fix

feat(package): add react 19 to package.json peerDependencies
  package-lock.json
  package.json
Due: prettier --write

build(package): upgrade react from 18 to 19 in devDependencies
  package-lock.json
  package.json
Due: prettier --write

test(dom-to-react): add LaTeX snapshot test
  __tests__/__snapshots__/dom-to-react.test.tsx.snap
  __tests__/data/html.ts
  __tests__/dom-to-react.test.tsx
Due: eslint --fix

build(package): correct repository url error
  package.json
Due: prettier --write
