Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json, eslint --fix

ci(github): check types in workflow lint.yml
  .github/workflows/lint.yml
Due: prettier --write

refactor(eslint): add more ESLint rules and fix lint errors
  __tests__/dom-to-react.test.tsx
  __tests__/esm/index.test.mjs
  __tests__/index.test.tsx
  __tests__/integration/index.test.ts
  __tests__/utilities.test.ts
  benchmark/index.ts
  eslint.config.mjs
  src/attributes-to-props.ts
  src/dom-to-react.ts
  src/index.ts
  src/types.ts
  src/utilities.ts
Due: eslint --fix

chore(examples): remove create-react-app
  examples/create-react-app-typescript/.env
  examples/create-react-app-typescript/.gitignore
  examples/create-react-app-typescript/README.md
  examples/create-react-app-typescript/package.json
  examples/create-react-app-typescript/public/index.html
  examples/create-react-app-typescript/src/App.css
  examples/create-react-app-typescript/src/App.tsx
  examples/create-react-app-typescript/src/index.tsx
  examples/create-react-app-typescript/src/react-app-env.d.ts
  examples/create-react-app-typescript/tsconfig.json
  examples/create-react-app/.env
  examples/create-react-app/README.md
  examples/create-react-app/package.json
  examples/create-react-app/public/index.html
  examples/create-react-app/src/App.css
  examples/create-react-app/src/App.js
  examples/create-react-app/src/index.js
Due: npm run lint:fix, prettier --write, eslint --fix

build(examples): upgrade webpack devDependencies
  examples/webpack/package.json
Due: prettier --write

chore(examples): update nextjs
  examples/nextjs/.gitignore
  examples/nextjs/README.md
  examples/nextjs/app/globals.css
  examples/nextjs/app/layout.tsx
  examples/nextjs/app/page.tsx
  examples/nextjs/eslint.config.mjs
  examples/nextjs/next-env.d.ts
  examples/nextjs/next.config.ts
  examples/nextjs/package.json
  examples/nextjs/pages/index.tsx
  examples/nextjs/postcss.config.mjs
  examples/nextjs/tsconfig.json
Due: prettier --write, eslint --fix

chore(examples): add vite
  examples/vite/.gitignore
  examples/vite/.npmrc
  examples/vite/README.md
  examples/vite/eslint.config.js
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/src/App.css
  examples/vite/src/App.tsx
  examples/vite/src/index.css
  examples/vite/src/main.tsx
  examples/vite/tsconfig.app.json
  examples/vite/tsconfig.json
  examples/vite/tsconfig.node.json
  examples/vite/vite.config.ts
Due: npm run lint:fix, prettier --write, prettier --write --parser json, eslint --fix

docs(example): add README.md
  examples/README.md
Due: prettier --write

test: migrate from Jest to Vitest
  README.md
  __tests__/__snapshots__/dom-to-react.test.tsx.snap
  __tests__/__snapshots__/index.test.tsx.snap
  __tests__/attributes-to-props.test.ts
  __tests__/dom-to-react.test.tsx
  eslint.config.mjs
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.test.json
  vitest.config.mts
Due: prettier --write, eslint --fix

chore(vitest): remove extraneous `reporters` from config
  vitest.config.mts
Due: none

test: run vitest in browser mode
  __tests__/__snapshots__/index.test.tsx.snap
  __tests__/attributes-to-props/index.test.ts
  __tests__/attributes-to-props/preserve-custom-attributes.test.ts
  __tests__/dom-to-react/__snapshots__/custom-attributes.test.ts.snap
  __tests__/dom-to-react/__snapshots__/index.test.tsx.snap
  __tests__/dom-to-react/custom-attributes.test.ts
  __tests__/dom-to-react/index.test.tsx
  __tests__/index.test.tsx
  __tests__/integration/index.test.ts
  __tests__/options/__snapshots__/trim.test.ts.snap
  __tests__/options/trim.test.ts
  package-lock.json
  package.json
  vitest.config.browser.mts
Due: prettier --write, eslint --fix

ci(github): add job `integration` to workflow test.yml
  .github/workflows/test.yml
Due: prettier --write

chore(vitest): include optimizeDeps for browser config
  vitest.config.browser.mts
Due: none

build(package): upgrade vitest from 3 to 4
  package-lock.json
  package.json
  vitest.config.browser.mts
Due: prettier --write

ci(github): update eslint group in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

chore(eslint): tidy config
  eslint.config.mjs
Due: none

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

ci(github): consolidate eslint group in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): add group vitest to dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): pin workflow action by hash
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/scorecard.yml
  .github/workflows/size-limit.yml
  .github/workflows/test.yml
Due: prettier --write

ci(github): pin codecov action to hash in test.yml
  .github/workflows/test.yml
Due: prettier --write

ci(github): set default permissions to read-all
  .github/workflows/assign-reviewer.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/release-please.yml
  .github/workflows/size-limit.yml
  .github/workflows/test.yml
Due: prettier --write

ci(github): update assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): create auto-approve.yml
  .github/workflows/auto-approve.yml
Due: prettier --write

build(tsconfig): enable `skipLibCheck` to fix TypeScript build errors
  tsconfig.build.json
Due: prettier --write

ci(github): delete .github/workflows/auto-approve.yml
  .github/workflows/auto-approve.yml
Due: prettier --write

build(tsconfig): change target from es5 to es2016
  rollup.config.mjs
  tsconfig.build.json
Due: prettier --write

chore(tsconfig): override rootDir in tsconfig.test.json
  tsconfig.test.json
Due: prettier --write

build(package): fix 3 moderate severity vulnerabilities
  package-lock.json
Due: prettier --write

chore(size-limit): increase limit from 10.68 KB to 11.08 KB
  .size-limit.json
Due: prettier --write

build(package-lock): update package-lock.json
  package-lock.json
Due: prettier --write

docs(readme): add migration v6
  README.md
Due: prettier --write

CSP based on ideas from #1123
  __tests__/options/trusted-type-policy.test.ts
  examples/webpack/src/index.js
  src/index.ts
  src/types.ts
Due: npm run lint:fix, eslint --fix

Use types from html-dom-parser
  src/types.ts
Due: eslint --fix

Lint fixes
  __tests__/options/trusted-type-policy.test.ts
  src/index.ts
Due: eslint --fix

Update dom package
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

Restore gitignore
  .gitignore
Due: none

feat(options): add CSP support with `trustedTypePolicy` (#2220)
  __tests__/options/trusted-type-policy.test.ts
  examples/webpack/src/index.js
  package-lock.json
  package.json
  src/index.ts
  src/types.ts
Due: npm run lint:fix, prettier --write, eslint --fix

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

style(examples): refactor webpack index.js
  examples/webpack/src/index.js
Due: npm run lint:fix, eslint --fix

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: (any of: *.{html,json,md,yml}) or (any of: *.{css,html,json,md,yml})
  prettier --write --parser json: any of: *.*rc
  eslint --fix: any of: *.{js,jsx,ts,tsx}
