Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

ci(github): fix cache dependencies in workflow `build.yml`
  .github/workflows/build.yml
Due: prettier --write

ci(github): use default Node.js version in `build.yml`
  .github/workflows/build.yml
Due: prettier --write

chore(examples): upgrade next package dependencies
  examples/next/package.json
Due: prettier --write

ci(github): add workflow `release.yml`
  .github/workflows/release.yml
Due: prettier --write

build(deps): bump html-dom-parser from 1.0.1 to 1.0.2
  package.json
Due: prettier --write

build(deps): bump react-property from 1.0.1 to 1.0.2
  package.json
Due: prettier --write

ci(github): replace Coveralls with Codecov in workflow `build.yml`
  .github/workflows/build.yml
Due: prettier --write

docs(readme): add Codecov badge to README.md
  README.md
Due: prettier --write

refactor(lib): don't destructure react-property and utilities
  lib/attributes-to-props.js
Due: npm run lint:fix

feat: upgrade `react-property` to get react-dom 17 DOM/SVG properties
  lib/attributes-to-props.js
  package.json
  test/__snapshots__/attributes-to-props.test.js.snap
  test/attributes-to-props.test.js
Due: npm run lint:fix, prettier --write

ci(size-limit): increase limit from 8 to 9.23 KB
  .size-limit.json
  package.json
Due: prettier --write

chore: remove `standard-version` and update CONTRIBUTING.md
  CONTRIBUTING.md
  package.json
Due: prettier --write

docs(contributing): tidy and fix link
  CONTRIBUTING.md
Due: prettier --write

docs(contributing): improve grammar
  CONTRIBUTING.md
Due: prettier --write

feat: export domhandler's Element
  README.md
  index.js
  index.mjs
Due: npm run lint:fix, prettier --write

feat: added CRA typescript example
  examples/create-react-app-typescript/.env
  examples/create-react-app-typescript/.gitignore
  examples/create-react-app-typescript/README.md
  examples/create-react-app-typescript/package-lock.json
  examples/create-react-app-typescript/package.json
  examples/create-react-app-typescript/public/index.html
  examples/create-react-app-typescript/src/App.css
  examples/create-react-app-typescript/src/App.tsx
  examples/create-react-app-typescript/src/index.tsx
  examples/create-react-app-typescript/src/react-app-env.d.ts
  examples/create-react-app-typescript/tsconfig.json
  examples/create-react-app-typescript/yarn.lock
Due: prettier --write

docs: removed workaround in README.md
  README.md
Due: prettier --write

chore: updated CRA (javascript) and align it with the TypeScript example
  examples/create-react-app/package-lock.json
  examples/create-react-app/package.json
  examples/create-react-app/src/App.js
Due: npm run lint:fix, prettier --write

chore: applied PR feedback
  examples/create-react-app-typescript/yarn.lock
  index.js
Due: npm run lint:fix

ci(size-limit): increase limit to fix CI error
  .size-limit.json
Due: prettier --write

ci(github): add mergify.yml that merges Dependabot PRs
  .github/mergify.yml
Due: prettier --write

ci(github): fix title regex in mergify.yml
  .github/mergify.yml
Due: prettier --write

ci(github): fix mergify.yml
  .github/mergify.yml
Due: prettier --write

docs(readme): remove david-dm badge
  README.md
Due: prettier --write

perf: upgrade dependency html-dom-parser to v1.0.3
  package.json
Due: prettier --write

docs(changelog): tidy CHANGELOG.md with prettier
  CHANGELOG.md
Due: prettier --write

chore(github): add Conventional Commits to PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(deps): bump domhandler to 4.3.0 and html-dom-parser to 1.0.4
  package.json
Due: prettier --write

ci(size-limit): increase limit to 10.1 KB
  .size-limit.json
Due: prettier --write

docs(changelog): tidy release 1.4.2
  CHANGELOG.md
Due: prettier --write

docs(readme): update replit links
  README.md
Due: prettier --write

docs: tidy CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

fix(attributes-to-props): convert attrib to uncontrolled component prop
  lib/attributes-to-props.js
  test/__snapshots__/attributes-to-props.test.js.snap
  test/attributes-to-props.test.js
Due: npm run lint:fix

test: add snapshot for form input
  test/__snapshots__/index.test.js.snap
  test/data/html.js
  test/index.test.js
Due: npm run lint:fix

fix(dom-to-react): trim whitespaces if it is not valid in parent
  lib/dom-to-react.js
  lib/utilities.js
  test/index.test.js
Due: npm run lint:fix

test(utilities): tests for canTextBeChildOfNode
  lib/utilities.js
  test/utilities.test.js
Due: npm run lint:fix

fix: grammar and doc strings
  lib/dom-to-react.js
  lib/utilities.js
  test/utilities.test.js
Due: npm run lint:fix

test: added snapshot test
  test/index.test.js
Due: npm run lint:fix

test: added td with &nbsp;
  test/index.test.js
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
