Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

build(package): bump html-dom-parser from 3.1.6 to 3.1.7
  package.json
Due: prettier --write

docs(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore(github): update CODEOWNERS to ignore package.json
  .github/CODEOWNERS
Due: none

docs(github): update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: prettier --write

ci(github): merge with squash in mergify.yml
  .github/mergify.yml
Due: prettier --write

docs(readme): fix 2 typos in README.md
  README.md
Due: prettier --write

docs(readme): tidy import code block
  README.md
Due: prettier --write

docs(readme): remove enterprise section on Tidelift
  README.md
Due: prettier --write

docs(readme): correct spelling mistake of Teespring
  README.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): save package-lock.json and remove .npmrc
  .github/CODEOWNERS
  .npmrc
  package-lock.json
Due: prettier --write, prettier --write --parser json

build(nvmrc): set Node.js version to 18
  .nvmrc
Due: prettier --write --parser json

ci(github): update workflows to use .nvmrc and npm cache
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/size-limit.yml
Due: prettier --write

build(deps): bump html-dom-parser from 3.1.7 to 4.0.0
  package-lock.json
  package.json
Due: prettier --write

docs(readme): document v4 migration
  README.md
Due: prettier --write

test(module): refactor module tests
  .github/workflows/build.yml
  package.json
  test/module/index.mjs
  test/module/index.test.mjs
Due: prettier --write

chore(husky): tidy pre-commit hook
  .husky/pre-commit
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

feat: add transform option
  README.md
  index.d.ts
  lib/dom-to-react.js
  lib/utilities.js
  test/dom-to-react.test.js
Due: npm run lint:fix, prettier --write

feat: export lib files
  package.json
Due: prettier --write

docs(readme): tidy code blocks
  README.md
Due: prettier --write

refactor(utilities): refactoring Utilities constants
  lib/utilities.js
  test/utilities.test.js
Due: npm run lint:fix

fix(utilities): fix ELEMENTS_WITH_NO_TEXT_CHILDREN naming
  lib/utilities.js
  test/utilities.test.js
Due: npm run lint:fix

chore(github): tidy CODEOWNERS
  .github/CODEOWNERS
Due: none

refactor(utilities): add jsdoc and revert existing jsdoc location
  lib/utilities.js
Due: npm run lint:fix

style: replace "arrowParens" avoid with default in .prettierrc.json
  .prettierrc.json
  README.md
  benchmark/index.js
  test/attributes-to-props.test.js
  test/dom-to-react.test.js
  test/helpers/index.js
  test/index.test.js
  test/integration/index.test.js
  test/utilities.test.js
Due: npm run lint:fix, prettier --write

fix(utilities): remove PRESERVE_CUSTOM_ATTRIBUTES
  lib/attributes-to-props.js
  lib/dom-to-react.js
  lib/utilities.js
  test/attributes-to-props.test.js
  test/dom-to-react.test.js
  test/utilities.test.js
Due: npm run lint:fix

build: replace rollup-plugin-terser with @rollup/plugin-terser
  package-lock.json
  package.json
  rollup.config.js
Due: npm run lint:fix, prettier --write

test: replace dtslint with @definitelytyped/dtslint
  package-lock.json
  package.json
  test/types/error.tsx
  test/types/lib/attributes-to-props.ts
  test/types/lib/dom-to-react.tsx
  test/types/options/library.tsx
  test/types/options/replace.tsx
  tslint.json
Due: prettier --write

build(package): bump rollup from 2.79.1 to 3.29.0
  package-lock.json
  package.json
  rollup.config.mjs
Due: prettier --write

build(package): remove prettier from devDependencies
  package-lock.json
  package.json
Due: prettier --write

Revert "build(deps): bump codecov/codecov-action from 3 to 4"
  .github/workflows/build.yml
Due: prettier --write

build(nvmrc): bump Node.js version from 18 to 20
  .nvmrc
Due: prettier --write --parser json

build(package): remove caret from devDependencies version
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
