Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.js": ["npm run lint:fix", "git add"],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

chore(release): 0.14.2
  CHANGELOG.md
  package.json
Due: prettier --write

test: upgrade `preact` in devDependencies and fix tests
  package.json
  test/dom-to-react.test.js
  test/html-to-react.test.js
Due: npm run lint:fix, prettier --write

build(package): upgrade dependencies and devDependencies
  package.json
Due: prettier --write

docs(readme): tidy README and improve headings and wording
  README.md
Due: prettier --write

docs(readme): add table of contents to README
  README.md
Due: prettier --write

test(attributes-to-props): add cases and refactor to snapshots
  test/__snapshots__/attributes-to-props.test.js.snap
  test/attributes-to-props.test.js
Due: npm run lint:fix

test(dom-to-react): refactor tests and snapshots
  test/__snapshots__/dom-to-react.test.js.snap
  test/dom-to-react.test.js
Due: npm run lint:fix

test(html-to-react): refactor tests
  test/html-to-react.test.js
Due: npm run lint:fix

test(utilities): refactor tests
  test/utilities.test.js
Due: npm run lint:fix

build(package): upgrade devDependencies
  package.json
Due: prettier --write

test(attributes-to-props): add test when first argument is undefined
  test/attributes-to-props.test.js
Due: npm run lint:fix

refactor(utilities): create `setStyleProp` helper from `styleToJS`
  lib/attributes-to-props.js
  lib/utilities.js
  test/__snapshots__/utilities.test.js.snap
  test/utilities.test.js
Due: npm run lint:fix

ci(github): add Node.js workflow using GitHub Actions
  .github/workflows/nodejs.yml
Due: prettier --write

ci(travis): remove .travis.yml
  .travis.yml
Due: prettier --write

ci(github): rename workflow to `build`
  .github/workflows/build.yml
Due: prettier --write

docs(readme): replace Travis CI with workflow status badge
  README.md
Due: prettier --write

test(html-to-react): refactor tests for HTMLReactParser
  test/html-to-react.test.js
Due: npm run lint:fix

test: rename test/html-to-react.test.js -> test/index.test.js
  test/index.test.js
Due: npm run lint:fix

test(dom-to-react): update custom element with style snapshot
  test/__snapshots__/dom-to-react.test.js.snap
  test/dom-to-react.test.js
  test/helpers/data.js
Due: npm run lint:fix

test: refactor html and svg data to their own files and folder
  test/data/html.js
  test/data/index.js
  test/data/svg.js
  test/dom-to-react.test.js
  test/helpers/index.js
  test/index.test.js
Due: npm run lint:fix

test(index): refactor HTMLReactParser tests to snapshots
  test/__snapshots__/index.test.js.snap
  test/index.test.js
Due: npm run lint:fix

refactor(dom-to-react): require `react` on top and tidy JSDoc
  lib/dom-to-react.js
Due: npm run lint:fix

refactor(dom-to-react): rename `shouldPassAttributesUnaltered`
  lib/dom-to-react.js
Due: npm run lint:fix

test(dom-to-react): add test cases for text, comment, and doctype
  test/dom-to-react.test.js
Due: npm run lint:fix

fix(dom-to-react): transform style to object for Web Components
  lib/dom-to-react.js
  test/__snapshots__/dom-to-react.test.js.snap
Due: npm run lint:fix

chore(release): 0.14.3
  CHANGELOG.md
  package.json
Due: prettier --write

build(package): upgrade dependency `html-dom-parser` to 0.5.0
  index.d.ts
  lib/attributes-to-props.d.ts
  lib/dom-to-react.d.ts
  lib/dom-to-react.js
  package.json
  test/types/index.tsx
  test/types/lib/dom-to-react.tsx
Due: npm run lint:fix, prettier --write

chore(release): 1.0.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): fix and update README.md
  README.md
Due: prettier --write

build(package): save `size-limit` and `@size-limit/preset-big-lib`
  package.json
Due: prettier --write

chore: add `.size-limit.json` with limit of 8 KB
  .size-limit.json
Due: prettier --write

ci(github): add `size-limit.yml` workflow
  .github/workflows/size-limit.yml
Due: prettier --write

docs(readme): add Size Limit to `Performance` section
  README.md
Due: prettier --write

chore: fix and update scripts and links in CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

docs(readme): add "Migration" section and add TS example to FAQ
  README.md
Due: prettier --write

chore: remove unused `tslint.json`
  tslint.json
Due: prettier --write

feat(index): export `domhandler` node types
  index.d.ts
Due: none

docs(readme): update TypeScript example with `Element` type
  README.md
Due: prettier --write

test(types): import `Element` type from index module
  test/types/index.tsx
Due: none
