Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.js": ["npm run lint:fix", "git add"],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

build(package): bump html-dom-parser from 4.0.1 to 5.0.0
  .size-limit.json
  index.js
  package-lock.json
  package.json
  test/dom-to-react.test.js
  test/index.test.js
Due: npm run lint:fix, prettier --write

fix: upgrade html-dom-parser and style-to-js to fix source map warnings
  package-lock.json
  package.json
Due: prettier --write

chore(utilities): remove unused function `invertObject`
  lib/utilities.js
  test/utilities.test.js
Due: npm run lint:fix

build(package): save @typescript-eslint/eslint-plugin to devDeps
  package-lock.json
  package.json
Due: prettier --write

chore(eslintrc): add plugin @typescript-eslint
  .eslintrc.json
  test/types/error.tsx
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

build(package): bump react-property from 2.0.0 to 2.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(lib): update TypeScript Version to 5.3
  index.d.ts
  lib/attributes-to-props.d.ts
  lib/dom-to-react.d.ts
Due: none

test: rename script `test:module` to `test:esm`
  .github/workflows/build.yml
  .husky/pre-commit
  package.json
  test/esm/index.test.mjs
Due: prettier --write

chore(husky): tidy commit-msg and pre-commit
  .husky/commit-msg
  .husky/pre-commit
Due: none

build(examples): upgrade create-react-app-typescript devDependencies
  examples/create-react-app-typescript/package.json
  examples/create-react-app-typescript/src/index.tsx
Due: prettier --write

ci(github): replace `npm install` with `npm ci` in workflows
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release.yml
  .github/workflows/size-limit.yml
Due: prettier --write

test(types): fix exports.tsx and dom-to-react.tsx
  test/types/exports.tsx
  test/types/lib/dom-to-react.tsx
Due: none

chore(benchmark): fix index.js
  benchmark/index.js
Due: npm run lint:fix

docs(readme): update benchmark
  README.md
Due: prettier --write

refactor(examples): rename amd/requirejs.html to requirejs/index.html
  examples/amd/requirejs.html
  examples/requirejs/index.html
Due: prettier --write

chore(examples): remove extra quote in requirejs/index.html
  examples/requirejs/index.html
Due: prettier --write

refactor(examples): tidy create-react-app
  examples/create-react-app/src/App.js
  examples/create-react-app/src/index.js
Due: npm run lint:fix

build(examples): upgrade next to 14 and rename directory to nextjs
  examples/nextjs/.gitignore
  examples/nextjs/next-env.d.ts
  examples/nextjs/package.json
  examples/nextjs/pages/index.tsx
  examples/nextjs/tsconfig.json
Due: prettier --write

build(examples): upgrade devDependencies in webpack
  examples/webpack/package.json
  examples/webpack/src/index.js
Due: npm run lint:fix, prettier --write

docs(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor(test): rename `test` directory to `__tests__`
  __tests__/attributes-to-props.test.ts
  __tests__/data/html.ts
  __tests__/data/index.ts
  __tests__/data/svg.ts
  __tests__/dom-to-react.test.tsx
  __tests__/esm/attributes-to-props.test.mjs
  __tests__/esm/dom-to-react.test.mjs
  __tests__/esm/index.test.mjs
  __tests__/esm/utilities.test.mjs
  __tests__/helpers/index.ts
  __tests__/index.test.tsx
  __tests__/integration/index.test.ts
  __tests__/utilities.test.ts
  benchmark/index.ts
  jest.config.ts
  package.json
  tsconfig.json
Due: prettier --write

test(data): make html and svg readonly
  __tests__/data/html.ts
  __tests__/data/svg.ts
Due: none

test(dom-to-react): assert replace with children
  __tests__/dom-to-react.test.tsx
Due: none

fix(dom-to-react): default props.children to undefined instead of null
  __tests__/dom-to-react.test.tsx
  src/dom-to-react.ts
Due: none

fix(types): add back `object` to `replace` option return type
  __tests__/dom-to-react.test.tsx
  src/types.ts
Due: none

docs(readme): document type error under v5
  README.md
Due: prettier --write

refactor(domToReact): refactoring multiple types
  src/attributes-to-props.ts
  src/dom-to-react.ts
  src/index.ts
Due: none

chore(examples): tidy create-react-app-typescript/src/App.tsx
  examples/create-react-app-typescript/src/App.tsx
Due: none

fix(esm): support vite bundler
  esm/attributes-to-props.mjs
  esm/dom-to-react.mjs
  esm/index.mjs
Due: none

docs(readme): add vite example
  README.md
Due: prettier --write

refactor(type): improved attributes-to-props and utilities type
  src/attributes-to-props.ts
  src/utilities.ts
Due: none

refactor: improved attributes-to-props, dom-to-react, utilities
  src/attributes-to-props.ts
  src/dom-to-react.ts
  src/utilities.ts
Due: none

docs(readme): modify code contributors images
  README.md
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

chore: add .mjs to .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

docs(readme): fix warning blockquote
  README.md
Due: prettier --write
