Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

docs(readme): reorganize badges and sections
  README.md
Due: prettier --write

build(package): remove `opencollective-postinstall`
  package.json
Due: prettier --write

corrected example in README.md
  README.md
Due: prettier --write

fix: refactor TypeScript declaration file for `index.d.ts`
  index.d.ts
Due: none

docs(readme): update FAQ that parser doesn't do HTML sanitization
  README.md
Due: prettier --write

docs(readme): fix grammar and improve wording in FAQ
  README.md
Due: prettier --write

chore: add `CODE_OF_CONDUCT.md`
  CODE_OF_CONDUCT.md
Due: prettier --write

build(package): upgrade dependency html-dom-parser@0.2.3
  package.json
Due: prettier --write

chore(release): 0.9.2
  CHANGELOG.md
  package.json
Due: prettier --write

feat(dom-to-react): support Preact
  README.md
  lib/dom-to-react.js
Due: npm run lint:fix, prettier --write

chore(package): make peer deps optional + add Preact
  package.json
Due: prettier --write

refactor(dom-to-react): change how library option works
  README.md
  index.d.ts
  lib/dom-to-react.js
  package.json
  test/dom-to-react.js
Due: npm run lint:fix, prettier --write

build(package): upgrade dependency style-to-object@0.3.0
  package.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

test(types): move TypeScript tests from `lint` to `test` directory
  test/types/index.test.tsx
  test/types/lib/dom-to-react.test.tsx
  tsconfig.json
Due: prettier --write

chore: rename script `dtslint` to `lint:dts` in package.json
  README.md
  package.json
Due: prettier --write

docs(contributing): add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

docs: move test, lint, release from README.md to CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

docs(readme): refactor html links to markdown links
  README.md
Due: prettier --write

ci(travis): fix script `npm run lint:dts`
  .travis.yml
Due: prettier --write

chore(package): fix `prepublishOnly` script with `lint:dts`
  package.json
Due: prettier --write

chore(release): 0.10.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs(lib): update JSDoc in `dom-to-react`
  lib/dom-to-react.js
Due: npm run lint:fix

fix(index): make `replace` property optional in `index.d.ts`
  index.d.ts
Due: none

chore(release): 0.10.1
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): update FAQ with error and SSR section
  README.md
Due: prettier --write

fix(index): add default export for parser
  index.js
Due: npm run lint:fix

test(html-to-react): add test to ensure default export for parser
  test/html-to-react.js
Due: npm run lint:fix

test(html-to-react): have a stronger assert
  test/html-to-react.js
Due: npm run lint:fix

chore(release): 0.10.2
  CHANGELOG.md
  package.json
Due: prettier --write

docs(readme): update FAQ with issue on inline style parsing error
  README.md
Due: prettier --write

fix: use JSX.Element for type definitions
  index.d.ts
  lib/dom-to-react.d.ts
  test/types/index.test.tsx
  test/types/lib/dom-to-react.test.tsx
Due: none

fix: update .d.ts docstrings
  index.d.ts
  lib/dom-to-react.d.ts
Due: none

chore(release): 0.10.3
  CHANGELOG.md
  package.json
Due: prettier --write

test: tidy tests, replace `assert.equal` with `assert.strictEqual`
  test/dom-to-react.js
  test/html-to-react.js
  test/utilities.js
Due: npm run lint:fix

test(attributes-to-props): test that CSS comment is not parsed
  test/attributes-to-props.js
Due: npm run lint:fix

refactor(attributes-to-props): remove string type check in `cssToJs`
  lib/attributes-to-props.js
  test/attributes-to-props.js
Due: npm run lint:fix

test(dom-to-react): tidy tests and add case for single node replace
  test/dom-to-react.js
Due: npm run lint:fix

ci(travis): move coveralls script from package.json to .travis.yml
  .travis.yml
  package.json
Due: prettier --write

chore(release): 0.10.4
  CHANGELOG.md
  package.json
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{html,json,md,yml}
  prettier --write --parser json: any of: *.*rc
