Repository remarkablemark/html-react-parser: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, prettier --write --parser json

.lintstagedrc:

{
  "*.js": ["npm run lint:fix", "git add"],
  "*.{html,json,md,yml}": ["prettier --write", "git add"],
  "*.*rc": ["prettier --write --parser json", "git add"]
}

test: added td with text
  test/index.test.js
Due: npm run lint:fix

docs: update explaination for the trim flag
  README.md
Due: prettier --write

fix: remove #document from list of node names
  lib/utilities.js
Due: npm run lint:fix

fix: improved language in README.md and removed TOC item
  README.md
Due: prettier --write

fix: make reset and submit input types retain value attribs
  lib/attributes-to-props.js
  test/attributes-to-props.test.js
Due: npm run lint:fix

ci(github): remove myself from dependabot.yml
  .github/dependabot.yml
Due: prettier --write

fix: add exports main field
  package.json
Due: prettier --write

refactor: use import and require fields
  package.json
Due: prettier --write

build(package): upgrade html-dom-parser from 1.0.4 to 1.1.0
  package.json
Due: prettier --write

fix: ensure backwards compatibility for html-dom-parser's ES Module
  index.js
Due: npm run lint:fix

test: add tests to check exports are functions
  index.js
  test/index.test.js
Due: npm run lint:fix

chore(examples): upgrade dependencies for create-react-app
  examples/create-react-app/package-lock.json
  examples/create-react-app/package.json
Due: prettier --write

chore(examples): upgrade dependencies for create-react-app-typescript
  examples/create-react-app-typescript/package-lock.json
  examples/create-react-app-typescript/package.json
Due: prettier --write

chore(examples): upgrade dependencies for next
  examples/next/package.json
Due: prettier --write

chore(examples): upgrade dependencies for webpack
  examples/webpack/package.json
Due: prettier --write

chore(examples): remove package-lock.json from CRA
  examples/create-react-app-typescript/package-lock.json
  examples/create-react-app/package-lock.json
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): upgrade domhandler@4.3.1 and html-dom-parser@1.1.1
  package.json
Due: prettier --write

ci(size-limit): decrease limit from 10.1 KB to 9.73 KB
  .size-limit.json
Due: prettier --write

docs(changelog): tidy CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

ci(github): set Node.js version to 16 in build.yml workflow
  .github/workflows/build.yml
Due: prettier --write

chore: update TypeScript Version to 4.7 in declaration files
  index.d.ts
  lib/attributes-to-props.d.ts
  lib/dom-to-react.d.ts
Due: none

chore(husky): don't run dtslint in pre-commit hook
  .husky/pre-commit
Due: none

chore: run eslint instead of npm script in .lintstagedrc
  .lintstagedrc.json
Due: prettier --write

test(types): fix expected type errors for dtslint
  test/types/index.tsx
  test/types/lib/dom-to-react.tsx
Due: none

build(package): add support for React 18
  package.json
Due: prettier --write

build: upgrade html-dom-parser to add support for react-native
  package.json
Due: prettier --write

fix: package.json not defined by exports warning
  package.json
Due: prettier --write

ci(github): update workflow release.yml
  .github/workflows/release.yml
Due: prettier --write

build(package): save `jest-environment-jsdom` to devDependencies
  package.json
Due: prettier --write

fix: export domhandler' Element
  index.js
Due: npm run lint:fix

chore: update size-limit
  .size-limit.json
Due: prettier --write

ci(github): upgrade CodeQL Action from v1 to v2
  .github/workflows/codeql-analysis.yml
Due: prettier --write

test: refactor snapshots to inline
  test/__snapshots__/attributes-to-props.test.js.snap
  test/__snapshots__/dom-to-react.test.js.snap
  test/__snapshots__/index.test.js.snap
  test/__snapshots__/utilities.test.js.snap
  test/attributes-to-props.test.js
  test/dom-to-react.test.js
  test/index.test.js
  test/utilities.test.js
Due: npm run lint:fix

docs: tidy JSDoc and TSDoc
  index.d.ts
  index.js
  lib/attributes-to-props.d.ts
  lib/attributes-to-props.js
  lib/dom-to-react.d.ts
  lib/dom-to-react.js
  lib/utilities.js
  rollup.config.js
  test/helpers/index.js
Due: npm run lint:fix

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

fix: bump style-to-js to 1.1.1; don't capitalize ms vendor prefix
  package.json
  test/attributes-to-props.test.js
Due: npm run lint:fix, prettier --write

chore(size-limit): increase package size limit by 11 bytes
  .size-limit.json
Due: prettier --write
